html {
	background-color: lightgrey;
}
main {
	display: flex;
	justify-content: center;
	height: 90vh;
	align-items: center;
}
#indexContent {
	width: 500px;
	margin: auto;
}
.backArrowSvg {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	height: 30px;
	margin: 10px;
}
