doctype html
html(lang='en')
  head
    title p5 portfolio
    meta(charset='utf-8')
    link(rel='stylesheet' href='style.css')
  body
    div#indexContent
      h1 #{name}'s p5 portfolio
      div#directory
        each project in projects
          li
            a(href=`/${project}.html`)= project
