@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	color: #f2f2f2;
}
html {
	background-color: #222222;
}
main {
	display: flex;
	justify-content: center;
	height: 90vh;
	align-items: center;
}
#indexContent {
	width: 500px;
	margin: auto;
	margin-top: 30px;
}
.backArrowSvg {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	height: 30px;
	position: absolute;
	top: 10px;
	left: 10px;
}
.sketchHeader {
	display: flex;
	position: relative;
	width: 100%;
	justify-content: center;
}
